<a href="https://colab.research.google.com/github/WPSYG/Python-2-day-workshop/blob/master/Part_05_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/WPSYG/Python-2-day-workshop/master/images/logo_color_v1.jpeg?token=AIW35UC2GIMYQ4MY6FNWFCC7HQ5SQ">

# PANDAS

Pandas are a high-dimensional data manipulation tool. They are built on the Numpy package implying that much of the numpy structures is replicated in pandas. The basic key sructure of pandas is the dataframe. A dataframe allows store and manipulate tabular data in rows (observations) and columns (variables). 

Data in pandas is often used to feed statistical analysis in Scipy, plotting functions from matplotlib and machine learning algorithms from sci-learn. This makes pandas one of the most favourite data science tool for data wrangling and analysis. It is a game changer when it comes to data cleaning,transformation, manipulation and data analysis. 

To better understand how pandas work, we will cover the following areas;

1.   Introduction to pandas
2.   Pandas data structures
3.   Reading data into pandas
4.   Indexing and selecting data
5.   

## Panda data structures

Pandas deal with the following data structures


1.   **Series** - This is an one dimensional array like structure with homogenous data.


2. **Dataframes**- This is a two-dimensional heterogenous tabular data structure with rows and columns.

3. **Panel**-   Three dimesional data structure with heterogeneous data

**Creating a series**

Let's get started. For us to use pandas, we need to import the library into the jupiter environment. As we discussed earlier, pandas are built on the numpy package thus we need to import it too. We start by creating an empty series!

In [ ]:
#Import pandas and numpy
import pandas as pd
import numpy as np
# Creating empty series  
ser = pd.Series()
print(ser)

Series([], dtype: float64)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

We observe that an empty series has been created with the given data type as float64. Now lets use numpy to create a simple array.

In [ ]:
# simple array  
data = np.array(['Women', 'Promoting', 'Science', 'to', 'the','Young','Generation'])  
    
ser = pd.Series(data)  
print(ser)

0         Women
1     Promoting
2       Science
3            to
4           the
5         Young
6    Generation
dtype: object

In [ ]:
#create a series using a list  
lst =[2,3,5,7,8] 
    
ser = pd.Series(lst)  
print(ser)

0    2
1    3
2    5
3    7
4    8
dtype: int64

**Exercise**

Now let us try to use a dictionary to create a series

## Creating a data frame
We also start by creating an empty dataframe.

In [ ]:
#Creating an empty data frame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

We can also use lists and dictionaries to create a dataframe.

In [ ]:
# creating a list 
lst = ['Women', 'in', 'in',   
            'Science', 'from', 'Africa']  
    
# Calling DataFrame constructor on list and give it a column name  
df = pd.DataFrame(lst,columns=["Name"])  
print(df)

      Name
0    Women
1       in
2       in
3  Science
4     from
5   Africa

Creating a dataframe using dictionaries

In [ ]:
# intialise data of lists.
data = {'Name':['John', 'Ama', 'Florence', 'Frank'],
        'Age':[20, 21, 19, 18],
        'Sex': ['Male','Female','Female','Male']}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

       Name  Age     Sex
0      John   20    Male
1       Ama   21  Female
2  Florence   19  Female
3     Frank   18    Male

## Indexing and Selecting Data

Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset selection. We can perform basic operations on rows/columns like selecting, deleting, adding, and renaming. 

1.   Column Selection: In Order to select a column in Pandas DataFrame, we can either access the columns by calling them by their columns name

In [ ]:
# Define a dictionary containing employee data
data = {'Name':['Susan', 'Frank', 'Grace', 'Mary'],
        'Age':[27, 24, 22, 32],
        'Country':['Ghana', 'Uganda', 'Zambia', 'Benin'],
        'Qualification':['Msc', 'BSc', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data, columns=['Name','Age','Country','Qualification'])
#View the entire data frame
print(df)

    Name  Age Country Qualification
0  Susan   27   Ghana           Msc
1  Frank   24  Uganda           BSc
2  Grace   22  Zambia           MCA
3   Mary   32   Benin           Phd

In [ ]:
# select two columns
print(df[['Name', 'Country',"Qualification"]])

    Name Country Qualification
0  Susan   Ghana           Msc
1  Frank  Uganda           BSc
2  Grace  Zambia           MCA
3   Mary   Benin           Phd

In [ ]:
# retrieving columns by indexing operator
first = df["Name"]

print(first )

0    Susan
1    Frank
2    Grace
3     Mary
Name: Name, dtype: object

2. Row Selection: Pandas provide a unique method to retrieve rows from a Data frame. DataFrame.loc[] method is used to retrieve rows from Pandas DataFrame. Rows can also be selected by passing integer location to an iloc[] function.

>The first logic is specifying the column name and the condition i.e: df.loc[df[‘column name’] condition]

In [ ]:
# retrieving row by loc method by specifying a condition
First= df.loc[df['Name'] == 'Susan']
Second= df.loc[df['Name'] == 'Mary']
 
 
print(First, "\n\n\n", Second)

    Name  Age Country Qualification
0  Susan   27   Ghana           Msc


    Name  Age Country Qualification
3  Mary   32   Benin           Phd

In [ ]:
#retrieving a row by specifying a row index
df.loc[1:2]

    Name  Age Country Qualification
1  Frank   24  Uganda           BSc
2  Grace   22  Zambia           MCA

The second logic is to use **.iloc** to select rows and columns by their indexes

In [ ]:
df.iloc[0:2,0:2]

    Name  Age
0  Susan   27
1  Frank   24

**Reading data into pandas**

There are various file formats that pandas can read.  In this tutorial we will focus on csv file format. We will look at the various operations using sample dataset that will provided.

In [ ]:
import pandas as pd
import io
from google.colab import files
uploaded = files.upload()
data = pd.read_csv(io.BytesIO(uploaded['sales.csv']))

Saving sales.csv to sales (1).csv

In [ ]:
data.head()

  Transaction_date   Product Price  ...    Last_Login   Latitude   Longitude
0      1/2/09 6:17  Product1  1200  ...   1/2/09 6:08  51.500000   -1.116667
1      1/2/09 4:53  Product1  1200  ...   1/2/09 7:49  39.195000  -94.681940
2     1/2/09 13:08  Product1  1200  ...  1/3/09 12:32  46.188060 -123.830000
3     1/3/09 14:44  Product1  1200  ...  1/3/09 14:22 -36.133333  144.750000
4     1/4/09 12:56  Product2  3600  ...  1/4/09 12:45  33.520560  -86.802500

[5 rows x 12 columns]

In [ ]:

data['City'].describe()

count        998
unique       759
top       London
freq          19
Name: City, dtype: object

In [ ]:
data.dtypes.value_counts()

object     10
float64     2
dtype: int64

In [ ]:
data.isnull().sum()

Transaction_date    0
Product             0
Price               0
Payment_Type        0
Name                0
City                0
State               1
Country             0
Account_Created     0
Last_Login          0
Latitude            0
Longitude           0
dtype: int64

In [ ]:

data['State'].fillna(data.mean(), inplace=True)

In [ ]:
data.isnull().sum()

Transaction_date    0
Product             0
Price               0
Payment_Type        0
Name                0
City                0
State               1
Country             0
Account_Created     0
Last_Login          0
Latitude            0
Longitude           0
dtype: int64

In [ ]:
data.shape

(998, 12)

In [ ]:
column = data.columns.tolist()
column

['Transaction_date',
 'Product',
 'Price',
 'Payment_Type',
 'Name',
 'City',
 'State',
 'Country',
 'Account_Created',
 'Last_Login',
 'Latitude',
 'Longitude']

In [ ]:
###  unique values in categorical variables
unique = data.select_dtypes('object').apply(pd.Series.nunique, axis = 0)
unique

Transaction_date    987
Product               4
Price                 9
Payment_Type          4
Name                765
City                759
State               204
Country              56
Account_Created     976
Last_Login          977
dtype: int64

In [ ]:
### get_dummies on categorical variables

cat_var = pd.get_dummies(data.select_dtypes('object'))
data2=data.drop(axis=1,columns=list(data.select_dtypes('object').columns))

In [ ]:
new_data=pd.concat([data2,cat_var],axis=1)
new_data

      Latitude   Longitude  ...  Last_Login_3/1/09 7:21  Last_Login_3/1/09 7:28
0    51.500000   -1.116667  ...                       0                       0
1    39.195000  -94.681940  ...                       0                       0
2    46.188060 -123.830000  ...                       0                       0
3   -36.133333  144.750000  ...                       0                       0
4    33.520560  -86.802500  ...                       0                       0
..         ...         ...  ...                     ...                     ...
993  54.583333   -5.933333  ...                       0                       0
994 -20.360278   57.366111  ...                       0                       0
995  42.946940  -76.429440  ...                       1                       0
996  52.083333    0.433333  ...                       0                       1
997  43.073060  -89.401110  ...                       0                       0

[998 rows x 4743 columns]

> <p style="color:red">We need some exercises here, with correction provided in hidden cell that can be clicked to see the solution (you can google about this feature in notebook</p>

___
**Course Content Creators**: [Sokhar Samb](https://twitter.com/SambSokhar), Foutse, Deborah D Kanubala, Faith Benson, Salomey Osei, Yolande Ngueabou, Deo Byabazaire, Bernard Osei, Elkanah Nyabuto.




**Course Reviewer:** [Salomon Kabongo](https://twitter.com/SalomonKabongo1)