<a href="https://colab.research.google.com/github/WPSYG/Python-2-day-workshop/blob/master/Part_02_Manipulating_List,_Tuples_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/WPSYG/Python-2-day-workshop/master/images/logo_color_v1.jpeg?token=AIW35UAKBBELC5SYDUECSYC7HQ4FW">

# Manipulating List, Tuples and Dictionaries

This part of the tutorial cover basic object in python such as lists, tuples and dictionaries. You will learn to define and manupilate data structures/objects in Python. This can improve how you store information for your own analysis.

### Lists
> A list is an ordered collection of arbitrary objects between the square brackets i.e [].
We can define a list of strings, a list of numbers, a list having both names and numbers or containing other lists in it.

**Creating a list**

In [3]:
#list of strings

list_of_names=["Deo","Moses","Deb","Bernard","Theo","Matthias"]

print("Names:",type(list_of_names),"\n")
#print(len(list_of_names))

print(list_of_names)

Names: <class 'list'>

['Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias']

- type() is a function that displays the type of object/data structure. In this example, the type of object is a **list**

In [4]:
# list of numbers

list_of_numbers=[2,5,7,11,13,17,19,23]

print("list_of_numbers:", type(list_of_numbers),"\n")

print(list_of_numbers)

list_of_numbers: <class 'list'>

[2, 5, 7, 11, 13, 17, 19, 23]

- List can store numbers, strings, and even other objects such as lists

Important thing about a list is that items in a list need not be of the same type.

In [5]:
#list of both numbers and strings

list_of_mixture=[1,3,5,"Dog","Pig",list_of_names,list_of_numbers]

print("list_of_mixture:",type(list_of_mixture),"\n")

print(list_of_mixture)

list_of_mixture: <class 'list'>

[1, 3, 5, 'Dog', 'Pig', ['Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias'], [2, 5, 7, 11, 13, 17, 19, 23]]

**List indexing or access**

You can get an item by referring to its position in the list, a number called the index. The first index is zero, the second index is one, and so forth.

In [1]:
#Getting the first item in the list
list_of_names=["Deo","Moses","Deb","Bernard","Theo","Matthias"]
print(list_of_names[0],"\n")

list_of_numbers=[2,5,7,11,13,17,19,23]
print(list_of_numbers[0],"\n")

list_of_mixture=[1,3,5,"Dog","Pig",list_of_names,list_of_numbers]
print(list_of_mixture[0],"\n")

Deo

2

1

In [2]:
#Getting the last item
list_of_names=["Deo","Moses","Deb","Bernard","Theo","Matthias"]
print(list_of_names[-1],"\n")

list_of_numbers=[2,5,7,11,13,17,19,23]
print(list_of_numbers[-1],"\n")

list_of_mixture=[1,3,5,"Dog","Pig",list_of_names,list_of_numbers]
print(list_of_mixture[-1],"\n")

Matthias

23

[2, 5, 7, 11, 13, 17, 19, 23]

In [4]:
#Getting an item in a list inside a list
list_of_mixture=[1,3,5,"Dog","Pig",list_of_names,list_of_numbers]
print(list_of_mixture, "\n")

print(list_of_mixture[5][3])

[1, 3, 5, 'Dog', 'Pig', ['Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias'], [2, 5, 7, 11, 13, 17, 19, 23]]

Bernard

**Slicing**

As we show, indexing *allows* you to access, change, delete only a single cell of a list. What if we want to get a sublist of the list. Or we want to update a bunch of cells at once? Or we want to go on a frenzy and extend a list with an arbitrary number of new cells in any position?

In [5]:
# elements 3rd to 5th
list_of_numbers=[2,5,7,11,13,17,19,23]

print(list_of_numbers[2:5])

# elements beginning to 4th
print(list_of_numbers[:-5])

# elements 6th to end
print(list_of_numbers[5:])

# elements beginning to end
print(list_of_numbers[:])

[7, 11, 13]
[2, 5, 7]
[17, 19, 23]
[2, 5, 7, 11, 13, 17, 19, 23]

A list can be modified i.e adding items, removing items, inserting items etc. We use concepts like append, remove, insert etc to modify the list.

**Appending items**

You can add an item to the end of the list with append()

In [10]:
#Adding more items in the list

print("list_of_names before:",list_of_names, "\n")

list_of_names.append("Sokhar")

print("list_of_names after:",list_of_names, "\n")


print("list_of_numbers before:",list_of_numbers, "\n")

list_of_numbers.append(27)

print("list_of_numbers after:",list_of_numbers, "\n")

list_of_names before: ['Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias']

list_of_names after: ['Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias', 'Sokhar']

list_of_numbers before: [2, 5, 7, 11, 13, 17, 19, 23]

list_of_numbers after: [2, 5, 7, 11, 13, 17, 19, 23, 27]

**Inserting an item in a list**

insert() is an inbuilt function in Python that inserts a given element at a given index in a list.

In [11]:
print("list_of_names before:",list_of_names, "\n")

#insert an item
list_of_names.insert(1,"Sokhar")

print("list_of_names after:",list_of_names, "\n")

list_of_names before: ['Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias', 'Sokhar']

list_of_names after: ['Deo', 'Sokhar', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias', 'Sokhar']

**Replacing items in the list**

In [12]:
list_of_names=["Deo","Moses","Deb","Bernard","Theo","Matthias"]

print("list_of_names before:",list_of_names, "\n")

list_of_names[2] = "Deborah"

print("list_of_names after:",list_of_names, "\n")

list_of_names before: ['Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias']

list_of_names after: ['Deo', 'Moses', 'Deborah', 'Bernard', 'Theo', 'Matthias']

## Tuples

> A tuple is a collection of objects which are ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses (), whereas lists use square brackets

**Creating a tuple**

> Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example −

In [4]:
#Tuple of strings

tuple_of_string=("Deo","Moses","Deb","Bernard","Theo","Matthias")

tuple_of_numbers=(2,5,7,11,13,17,19,23)


print("type:",type(tuple_of_string),"\n")

print("tuple_of_numbers:",tuple_of_string,"\n")
print("tuple_of_numbers:",tuple_of_numbers,"\n")

type: <class 'tuple'>

tuple_of_numbers: ('Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias')

tuple_of_numbers: (2, 5, 7, 11, 13, 17, 19, 23)

('Deb', 'Bernard', 'Theo')

Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates

In [14]:
print("tuple_of_string:",tuple_of_string,"\n")

print("tuple_of_numbers:",tuple_of_numbers[0],"\n")

# Following action is not valid for tuples
tuple_of_names[0] = "Faith"

tuple_of_string: ('Deo', 'Moses', 'Deb', 'Bernard', 'Theo', 'Matthias')

tuple_of_numbers: 2

NameError: name 'tuple_of_names' is not defined

## Dictionaries


Dictionaries are also what they sound like - a list of definitions that correspond to unique terms.

Dictionaries are unordered

Dictionary values are accessed by keys

Keys and values are to a dictionary what words and their definitions are to an English dictionary. 

Each entry in a dictionary is called a key-value pair. 

Dictionaries and lists share the following characteristics:

Both are mutable.




* Both are dynamic. They can grow and shrink as needed.
* Both can be nested. 
* A list can contain another list. A dictionary can contain another dictionary. 
* A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:

List elements are accessed by their position in the list, via indexing, dictionary elements are accessed via keys.

**To create a dictionary, use curly braces, a colon (:) separates each key from its associated value**


**Note** Dictionary keys are case sensitive, same name but different cases of Key will be treated distinctly.

In [13]:
country_population = {
    'Ghana': 31072940,
    'Senegal': 16743927,
    'Cameroon': 26545863,
    'Kenya': 53771296,
    
}
print("keys of the dictionary :", country_population.items()) 

print("keys of the dictionary :", country_population.keys())

keys of the dictionary : dict_keys(['Ghana', 'Senegal', 'Cameroon', 'Kenya'])
keys of the dictionary : dict_items([('Ghana', 31072940), ('Senegal', 16743927), ('Cameroon', 26545863), ('Kenya', 53771296)])

Dictionary can also be created by the built-in function dict(). An empty dictionary can be created by just placing to curly braces{}.

In [ ]:
Dict = dict({'Ghana': 31072940, 
             'Senegal':16743927, 
             'Cameroon':26545863, 
             'Kenya':53771296
             }) 
print("\nDictionary with the use of dict(): ") 
print(Dict)

**Accessing elements of a Dictionary**

Say you want to know the population of Ghana. Similarly to a list, you can use brackets to access the value, but this time with the key (instead of the index):

In [ ]:
country_population['Ghana']

In dictionaries, keys are unique. This means that there can only be one "Kenya" in the city_population dictionary, just as there can only be one Supercalifragilisticexpialidocious entry in the English dictionary.

Let's add another big city to the dictionary. To do this, you'll need to assign a value to a key that doesn't yet exist:

In [ ]:
country_population['Rwanda'] = 12985066

### Removing Elements from Dictionary
In Python Dictionary, deletion of keys can be done by using the del keyword. Using del keyword, specific values from a dictionary as well as whole dictionary can be deleted. Items in a Nested dictionary can also be deleted by using del keyword and providing specific nested key and particular key to be deleted from that nested Dictionary.

Note- del Dict will delete the entire dictionary and hence printing it after deletion will raise an Error.

In [ ]:
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'python', 
        'A' : {1 : 'python', 2 : 'For', 3 : 'python'}, 
        'B' : {1 : 'python', 2 : 'coding'}} 
print("Initial Dictionary: ") 
print(Dict) 
  
del Dict[6]
print("\nDeleting a specific key: ") 
print(Dict) 
  

del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

## Exercice1
* create a list name students ["Saffia", "Olivia","	Isabella","James","	William"]
* how many student are in the list?
* print the name of the first student 
* print the name of the 3 first student
* print the name of the last student
* relace the name of the third student by "Eva"

In [39]:
#write your code here
def print_first_student():
    #FILL here (1 line)

In [42]:
print("print_first_student() function is Correct") if print_first_student() == "Saffia" else 'Something Wrong'

print_first_student() function is Correct

### Exercice2
In this exercice we will transform the list created in exercice1 in to a dictionary where the keys are the names of the students and the associated values are the marks of the students in a python quiz.
* create a ditionary called python_quiz with the keys: "Saffia", "Olivia"," Isabella","James"," William" and the marks are 12,15,16,9,19 respectively
* What is Safiia's mark for the python quiz?
After feeling all the marks for all the students, we realized that there is a mistake, Olivia has 16 instead of 15.
* change the mark of Olivia to 16
Now let's do some calculation on our dictionary
* Calculate the mean of the class

___
**Course Content Creators**: [Sokhar Samb](https://twitter.com/SambSokhar), Foutse, Deborah D Kanubala, Faith Benson, Salomey Osei, Yolande Ngueabou, [Deo Byabazaire](https://www.linkedin.com/feed/), Bernard Osei, Elkanah Nyabuto.




**Course Reviewer:** [Salomon Kabongo](https://twitter.com/SalomonKabongo1)